@font-face {
  font-family: 'OpenSans';
  src: url(https://fonts.google.com/specimen/Open+Sans);
}

:root {
  --main-background: hsl(218, 28%, 13%);
  --cyne: hsl(176, 68%, 64%);
  --white: #ffffff;
  --width100Precent:  width: 100%;
  --pixles20: 20px;
  --pixles16: 16px;
  --footerColor: hsl(216, 53%, 9%);
}

body{
  background-color: var(--main-background);
  font-family: 'OpenSans';
}

.header {
  height: 100px;
  width: var(--width100Precent);
  vertical-align: middle
}
.right-top-buttons {
  float: right;
  padding: var( --pixles16);
}

.right-top-buttons a {
  margin: 30px;
}

.left-top-icon {
  float: left;
  margin: 6px;
}

.left-top-icon * {
  height: 50px;
}

.illustration-intro-container{
  width: var(--width100Precent);
  display: flex;
}

.illustration-intro-image{
  width: var(--width100Precent);
  display: block;
  margin: 0 auto;
}

.top-paragprph{
  font-size: 32px;
}

.top-paragprph, .file-security-paragprph{
  width: var(--width100Precent);
  display: flex;
  justify-content: center;
}

.getStartedButton{
  text-align: center;
  min-width: 100px;
  width: 20%;
  height: 50px;
  margin: 0 auto;
  border-radius: 8vh;
  display: block;
  background-color: var(--cyne);
}

.infoGrid{
  max-width: var(--width100Precent);
  float: center;
  margin: var( --pixles20); ;
  display:grid;
  justify-content: center;
  grid-template-columns: 25% 25%;
  grid-column-gap: var( --pixles20);
  grid-row-gap: var( --pixles20);
  
}

.infoGridItem{
  padding:var( --pixles20);
  border-radius:10px;
  display:flex;
  flex-flow: column;
  align-items:center;
  justify-content:center;
  font-family:sans-serif;
}

.gridItemImage{
  width: var(--width100Precent);
}

.dataBelowGrid{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.imageBelowGrid{
  height: 450px;
}

.imageBelowGridInfo{
  padding-top: 100px;
}

.imageBelowGridInfo *{
  margin: 1px;
  width: 350px;
  margin: 8px;
  padding-top: 18px;
}

.stayProductive{
  font-size: 1.8em;
}

.howFyloWorksLink{
  text-decoration: underline;
  font-size: var(--pixles20);
  counter-reset: var(--cyne);
  text-decoration-color:var(--cyne);
}

.quotes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quotes div{
  flex: 0 0 25.33%;
  padding-left: var( --pixles16);
  background-color: hsl(219, 30%, 18%);
  text-align: center;
  margin: 6px;
  height: fit-content;
}

.employeeIconAndInfo{
  display: flex;
  justify-content: left;
  flex-direction: row;
  text-align: left;
}

.employeeInfo{
  text-align: left;
}

.employeeIcon{
  border-radius: 50%;
  height: 50px;
  align-self: center;

}

.getEarlyAccesBox{
  background-color: hsl(219, 30%, 18%);
  width: 35%;
  margin: auto;
  padding-left: var( --pixles16);
  padding-right: var( --pixles16);
  height: fit-content;
  padding: var( --pixles16);
  
}

.getEarlyAccesBox button{
  background-color: var(--cyne);
}

.getStartetForFreeText{
  font-size: 32px;
  text-align: center;
}

.enterEmailDiv{
  display: flex;
  flex-direction: row;
}

h3{
  text-align: center;
  font-size: var( --pixles16);
}

.emailinput{
  background-color: white;
  flex: 3 1 ;
}

.bottonFyloIcon{
  background-color: var(--footerColor);
  width: var(--width100Precent);
}

.bottomSection{
  background-color: var(--footerColor);
  height: 150px;
  margin-bottom: -var( --pixles16);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.bottomSection *{
  justify-content: space-evenly;
}

.bottomSectionIcons{
  display: flex;
}

.bottomSectionIcons{
  flex-direction: row;  
}


.colorWhite{
  color: white;
}

.bold{
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .right-top-buttons a {
    margin: 6px;
  }

  .left-top-icon * {
    height: var( --pixles16);
  }

  .infoGrid{
    grid-template-columns: repeat(1, 1fr);
  }

  .dataBelowGrid{
    flex-direction: column;
  }

  .quotes{
    flex-direction: column;
  }

  .enterEmailDiv{
    flex-direction: column;
  }

  .getEarlyAccesBox{
    width: 65%;
    height: fit-content;
  }

  .emailinput{
    background-color: white;
    width: 80%;
  }

  .registerEmailButton{
    width: 80%;
  }

  .bottomSection{
    flex-direction: column;
    height: 500px;
    padding: 6px;
  }

}



